<div class="event">
  <div class="container mt-3 p-0">
    <div class="row justify-content-between col-min-width mt-5 pl-3 pr-3">
      <span class="heading">Events</span>
      <%= button_to 'Create Event', new_event_path, method: :get, class: "event-button bg-color" %>
    </div>
    <div class="row">

      <% @events.each do |event| %>

        <div class="col-md col-sm-12 col-xs col-min-width mx-3 event-card p-3">
          <div class="d-flex justify-content-between">
            <h2 class="sub-heading"><%= event.title %></h2>
            <div class="switch custom-control custom-switch">
              <input type="checkbox" class="custom-control-input" id="switch3" name="example">
              <label class="custom-control-label" for="switch3"></label>
            </div>
          </div>
          <p class="m-0 mt-4 dim-heading">Date</p>
          <p class="data-format mb-0"><%= event.date %></p>

          <div class="col p-0 d-flex justify-content-between">
            <div class="mt-4">
              <p class="m-0 dim-heading">Time</p>
              <p class="data-format"><%= event.time_start.strftime("%I:%M %p") + ' - ' + event.time_end.strftime("%I:%M %p") %> </p>
            </div>
            <div class="icons">
              <%= link_to edit_event_path(event) do %>
                <i class="fas fa-pencil-alt icon blue"></i>
              <% end %>
              <%= link_to event_path(event),
                          method: :delete,
                          data: { confirm: 'Are you sure?' } do %>
                <i class="fas fa-trash icon red"></i>
              <% end %>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>

