<p>
  <strong>Logo:</strong>
  <%= @event.logo %>
</p>
<p>
  <strong>Title:</strong>
  <%= @event.title %>
</p>
<p>
  <strong>Date:</strong>
  <%= @event.date %>
</p>
<p>
  <strong>Time Start:</strong>
  <%= @event.time_start %>
</p>
<p>
  <strong>Time End:</strong>
  <%= @event.time_end %>
</p>