<%= form_with(model: [@event, @sponsor], local: true) do |form| %>
  <% if @sponsor.errors.any? %>

    <div id="error_explanation">
      <h2>
        Unable to create sponsor because of <%= pluralize(@sponsor.errors.count, "error") %>
      </h2>
      <ul>
        <% @sponsor.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= form.label :name %>
    <%= form.text_field :name, class: "form-control" %>
  </div>
  <div data-controller="preview">
    <div class="custom-file">
      <%= form.label "Upload a logo", class: "custom-file-label", "data-target": "preview.logoLabel" %>
      <%= form.file_field :logo, class: "custom-file-input", accept: 'image/jpeg, image/png', "data-target": "preview.imageInput", "data-action": "change->preview#show" %>
    </div>
    <%= image_tag "transparent.png", class: "logo-preview", "data-target": "preview.imgPreview"%>
  </div>
  <div class="form-group">
    <%= form.label :website %>
    <%= form.text_field :website, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= form.label :status %>
    <%= form.radio_button :status, 'active' %>
    <%= form.label :status_active, 'Active' %>
    <%= form.radio_button :status, 'deactive' %>
    <%= form.label :status_deactive, 'Deactive' %>
  </div>
  <p>
    <%= form.submit class: "bg-color btn-lg" %>
  </p>
<% end %>
