<%= form_with(model: [@event, @sponsor], local: true) do |form| %>
  <% if @sponsor.errors.any? %>

    <div id="error_explanation">
      <h2>
        Unable to create sponsor because of <%= pluralize(@sponsor.errors.count, "error") %>
      </h2>
      <ul>
        <% @sponsor.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <p>
    <%= form.label :name %>
    <%= form.text_field :name %>
  </p>
  <p>
    <%= form.label :logo %>
    <%= form.text_field :logo %>
  </p>
  <p>
    <%= form.label :website %>
    <%= form.text_field :website %>
  </p>
  <p>
    <%= form.label :status %>
    <%= form.radio_button :status, 'active' %>
    <%= form.label :status_active, 'Active' %>
    <%= form.radio_button :status, 'deactive' %>
    <%= form.label :status_deactive, 'Deactive' %>
  </p>
  <p>
    <%= form.submit %>
  </p>
<% end %>